[submodule "Assets/PFound/DependencyContainer"]
	path = Assets/PFound/DependencyContainer
	url = git@github.com:sroglu/DependencyContainer.git
[submodule "Assets/PFound/ScreenRouter"]
	path = Assets/PFound/ScreenRouter
	url = git@github.com:sroglu/ScreenRouter.git
[submodule "Assets/PFound/LoopScheduler"]
	path = Assets/PFound/LoopScheduler
	url = git@github.com:sroglu/LoopScheduler.git
[submodule "Assets/PFound/LocalizationService"]
	path = Assets/PFound/LocalizationService
	url = git@github.com:sroglu/LocalizationService.git
[submodule "Assets/PFound/InputRouter"]
	path = Assets/PFound/InputRouter
	url = git@github.com:sroglu/InputRouter.git
[submodule "Assets/PFound/ContentDelivery"]
	path = Assets/PFound/ContentDelivery
	url = git@github.com:sroglu/ContentDelivery.git
[submodule "Assets/PFound/Signaling"]
	path = Assets/PFound/Signaling
	url = git@github.com:sroglu/Signaling.git
